[submodule "thirdparty/dracula"]
	path = thirdparty/dracula
	url = https://github.com/dracula/emacs.git
[submodule "thirdparty/autocomplete"]
	path = thirdparty/autocomplete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "thirdparty/autocompletepopup"]
	path = thirdparty/autocompletepopup
	url = https://github.com/auto-complete/popup-el.git
[submodule "thirdparty/floobits"]
	path = thirdparty/floobits
	url = https://github.com/Floobits/floobits-emacs.git
