[submodule "thirdparty/crouton-emacs-conf"]
	path = thirdparty/crouton-emacs-conf
	url = https://github.com/AurelienLourot/crouton-emacs-conf.git
[submodule "thirdparty/dracula"]
	path = thirdparty/dracula
	url = https://github.com/dracula/emacs.git
